body{
  background-image: url('images/home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.responsive {
  width: 100%;
  height: auto;
}

h2{
  font-family: DotGothic16;
  color: aqua;
}

img {
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 50px; /* Set a small width */
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: bottom;
  justify-content: center;
}